<div class="big-card-container">

    <div class="big-card-photo">
        <img src="https://s2-techtudo.glbimg.com/pyjWIdwZq0_gz3cl76LKKVIbpfQ=/0x0:970x546/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/A/D/bAc0IgTTq1rYoKCEOseA/ycyvxg7ycmgwqllk54vlzh-970-80.jpg"
         alt="placeholder-image"
         height="250px"
         width="100%"
         >
    </div>

    <div class="big-card-date">
        <p>September 27, 2023</p>
    </div>

    <div class="big-card-title">
        <h2><a href="#">NOVO Counter Strike será lançado oficialmente em breve!</a></h2>
    </div>

    <div class="big-card-description">
        <p><a href="#">A Valve indicou, em publicação no X (antigo Twitter), uma possível data de lançamento do Counter-Strike 2, a versão que irá suceder o Counter-Strike: Global Offensive (CS:GO). Se a publicação realmente for uma referência a isso, o CS2 seria oficialmente lançado em 27 de setembro de 2023.
        <br>
        <br>
        — O que você vai fazer na próxima quarta-feira? — publicou o perfil oficial do Counter-Strike no X nesta quarta-feira.

        Em menos de uma hora, a publicação já tinha quase 1 milhão de visualizações, com muitos usuários comentando que esperam se tratar da data de lançamento do CS2.
        </a></p>
    </div>

</div>